<md-toolbar color="primary">
  <a md-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <a md-button routerLink="/shedule" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> Расписание</a>
  <a md-button routerLink="/coaches" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Тренера</a>
  <a md-button routerLink="/contacts" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Корты</a>
  <a md-button [routerLink]="['/rating', 2017]" routerLinkActive="active"><span class="fa fa-list fa-lg"> </span> Рейтинг</a>
</md-toolbar>

<div class="container jumbotron"
     fxLayout="row"
     fxLayoutAlign.xs="center center"
     fxLayoutAlign.sm="center center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="25%" fxLayoutAlign="center center" >
    <img src="/src/assets/images/logo2.png" alt="Logo" height="120px">
  </div>

  <div fxFlex fxFlex.gt-sm="50%" fxShow.sm="false"
       fxShow.xs="false"
       fxLayoutAlign="center center" >
    <h2 align="center">ЧТК - Черкасский Теннисный Клуб</h2>
    <p align="center">Сайт для всех любителей большого тенниса в Черкассах<br> и не только</p>
  </div>
  <div fxFlex fxFlex.gt-sm="25%" fxLayoutAlign="center center" >
    <img src="/src/assets/images/logo2.png" alt="Logo" height="120px">
  </div>

</div>

