<div class="container footer">
  <div>
    <div>
      <div>
        <address>
          Черкассы, Смелянская 86,<br>Центральный стадион<br>
          <i class="fa fa-phone"></i>: +380 99 542 24 23<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">roman@xlan.net.ua</a>
        </address>
      </div>
    </div>
  </div>
  <div>
    <div style="text-align:center">
      <a md-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a md-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a md-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a md-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a md-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div>
    <div style="text-align:center;">
      <p>© Copyright 2017 CHTK</p>
    </div>
  </div>
</div>
