<div fxLayoutAlign ="center center">
<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showNav=0&amp;showCalendars=0&amp;showPrint=0&amp;
                                                        showTz=0&amp;mode=DAY&amp;src=chtk.smash%40gmail.com&amp;color=%231B887A&amp;ctz=Europe%2FKiev"
                                                        style="border-width:0"
                                                        width="70%"
                                                        height="600px"
                                                        frameborder="0"
                                                        scrolling="no"
                                                        >
</iframe>
</div>