<h3>Contact Us</h3>
<hr>
<div class="container">
  <div class="flex" *ngFor="let cour of court">
    <div class="card" appHighlight>
      <div class="coach">
        <h4><span><img src="public/assets/images/logo2.png" class="logo"></span> {{cour.name}}</h4>
      </div>
      <img *ngIf="cour.image" src="{{BaseURL + 'static/files/' + cour.image}}" alt = "{{cour.name}}" style="width:100%;">
      <img *ngIf="!cour.image" src="public/assets/images/Federer.png" alt = "{{cour.name}}" style="width:100%;">
      <div class="coach more">
        <p class="title"><i class="fa fa-thermometer-full"></i> : {{cour.type}}</p>
        <p>{{cour.adress}}</p>
        <p>{{cour.description}}</p>
        <button><a href="tel:{{cour.phones}}"><i class="fa fa-phone"></i> Call</a></button>
      </div>
    </div>
  </div>
</div>
