
h3 {
  margin: 20px;
}

h4 {
  vertical-align: text-top;
}


.coach {
  padding: 10px 16px;
}

.coach.more {
  display: inline-block;
  position: relative;
  height: 250px;
}

.title {
  color: grey;
  font-size: 18px;
}

p {
  font-size: 16px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #225d10;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: white;
}

button:hover, a:hover {
  opacity: 0.7;
}

h3 {
  margin: 20px;
}

.container > .flex {
  width: 45%;
}

@media (max-width: 576px) {
  .container > .flex {
    width: 100%;
  }

}

@media (min-width: 577px) and (max-width: 768px) {
  .container > .flex {
    width: 45%;
  }

}
