<div class="container"
     fxLayout="column"
     fxLayout.gt-sm="row"
     fxLayoutGap="10px">
  <div fxFlex>
    <app-newsdetail [dish]="selectedDish"></app-newsdetail>
  </div>
  <div fxFlex>
    <div>
      <h3>News
        <span class="prevnext">
          <button md-button *ngIf="prev" [routerLink]="['/home', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button md-button *ngIf="next" [routerLink]="['/home', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </span>
      </h3>
      <hr>
    </div>
    <md-grid-list cols="1" rowHeight="200px" class="news">
      <md-grid-tile *ngFor="let dish of dishes"
                    (click) = "onSelect(dish);"
                    id="{{dish.id}}"
                    (mouseover) = "onSetup(dish.id);"
                    (mouseout) = "onRemove(dish.id);"
      >
        <img *ngIf="dish.image"  width="100%" src={{BaseURL+dish.image}}>
        <img *ngIf="!dish.image"  height="100%" src="/src/assets/images/Federer.png">
        <md-grid-tile-footer>
          <p md-line><span>{{dish.date}}</span></p>
          <h1 md-line>{{dish.title | uppercase}}</h1>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
  <div fxFlex>
    <div class="newTable">
      <h3>Rating</h3>
      <hr>
      <app-table [rating] = "rating"></app-table>
    </div>

  </div>

</div>

