
<h3>Наши тренера</h3>
<hr>
<div class="container">
    <div class="flex" *ngFor="let cour of coaches">
        <div class="card" appHighlight>
            <div class="coach">
                <h4><span ><img src="public/assets/images/logo2.png" class="logo"></span>  {{cour.name}}</h4>
            </div>
            <img *ngIf="cour.image" src="{{BaseURL + 'static/files/' + cour.image}}" alt = "{{cour.name}}" style="width:100%;">
            <img *ngIf="!cour.image" src="public/assets/images/Federer.png" alt = "{{cour.name}}" style="width:100%;">
            <div class="coach">
                <p class="title"><i class="fa fa-phone"></i> : {{cour.phones}}</p>
                <p>{{ cour.description}}</p>
                <p><button><a href="tel:{{cour.phones}}"><i class="fa fa-phone"></i> Call</a></button></p>
            </div>
        </div>
    </div>
</div>