    <div>
      <md-card *ngIf="dish">
        <md-card-header>
          <img md-card-avatar src="/src/assets/images/logo2.png">
          <md-card-title>
            {{dish.title | uppercase}}
          </md-card-title>
          <md-card-subtitle>
            {{dish.date | date}}
          </md-card-subtitle>
        </md-card-header>
        <img md-card-image *ngIf="dish.image" src="{{path + dish.image}}" alt = "{{dish.title}}">
        <img md-card-image *ngIf="!dish.image" src="/src/assets/images/Federer.png" alt = "{{dish.title}}">
        <md-card-content>
          <p>{{ dish.text}}</p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>          
        </md-card-actions>
      </md-card>
    </div>





